.Rproj.user
.Rhistory
.RData
inst/extdata/
.DS_Store
hum2vec.Rproj
src/*.o
src/*.so
cookbooks
cookbooks.txt
cookbooks.vectors
cookbooks.zip
cookbooks*
etc
cookbook_vectors.bin
tests/testthat/binary.bin
tests/testthat/input.txt
tests/testthat/tmp.txt
tests/testthat/binary.bin
tests/testthat/tmp.bin
vignettes/*.R
vignettes/*.html
vignettes/*_files
